@charset "utf-8";

body {
    font-family: DejaVu Sans;
    color: #333;
    margin: 0;
}

div.color-bar {
    height: 0.2em;
    background: #179cde;
}

div.wrapper {
    width: 50em;
    margin: auto;
}

div.row {
    padding: 0.5em 0;
}

hr {
    border: 0;
    border-bottom: 0.1em dotted #ccc;
    margin: 0;
}


h1 {
    text-align: center;
    font-size: 2.5em;
    font-family: 'Bitter', serif;
    margin: 0.3em 0 0 0;
}

h2 {
    text-align: center;
    font-size: 1.2em;
    font-family: 'Bitter', serif;
    font-weight: 400;
    line-height: 1.3em;
    word-spacing: 0.1em;
    margin: 0.3em 0 1em 0;
    color: #aaa;
}


p {
    line-height: 1.5em;
}



div.cleared:after {
    content: "";
    height: 0;
    visibility: hidden;
    display: block;
    clear: both;
}

div.cleared div.left {
    width: 48%;
    float: left;
}

div.cleared div.right {
    width: 48%;
    float: right;
}

div.vcenter-text {
    display: table;
}

div.vcenter-text > p {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}



div.motto {
    height: 13.4em;
}

div.motto p {
    font-weight: 300;
    font-size: 1.8em;
}

div.error {
    text-align: center;
    width: 100%;
}

nav ul {
    text-align: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style: none;
    display: inline-block;
}

nav ul li a {
    color: #179cde;
    padding: 0.5em 0.7em;
    display: block;
    font-family: 'Bitter', serif;
    font-size: 1.2em;
    text-decoration: none;
    word-spacing: 0.1em;
    transition: .2s color ease-in-out;
}

nav ul li a:hover {
    color: #54a9eb;
}

footer ul {
    margin: 0 0 1em 0;
    text-align: center;
    padding: 0;
}

footer ul li {
    list-style: none;
    display: inline-block;
    font-size: 0.91em;
    color: #aaa;
    margin: 0 0.5em;
}

footer ul li a {
    color: #aaa;
    border-bottom: 0.1em dotted #ccc;
    text-decoration: none;
}

footer ul li a:hover {
    border-bottom-color: #aaa;
}



pre {
    font-family: "Hack", monospace;
    font-size: 0.81em;
    line-height: 1.4em;
}

pre span.ck {
    font-weight: bold;
    color: #179cde;
}

pre span.cs {
    color: #00af00;
}

pre span.cc {
    color: #888;
}

pre span.cd {
    font-weight: bold;
    color: #444;
}

pre span.less {
    opacity: 0.4;
    transition: .2s opacity ease-out;
}

pre:hover span.less {
    opacity: 0.7;
}



@media all and (max-width: 52em) {

    div.wrapper {
        width: auto;
        padding: 0 1em;
    }

    div.cleared div.left, div.cleared div.right {
        float: none;
        width: 100%;
    }

    div.pre-container {
        text-align: center;
        overflow-x: auto;
        margin: 0 -1em;
        padding: 0 1em;
    }

    div.pre-container pre {
        display: inline-block;
        text-align: left;
    }

    div.motto {
        height: auto;
        padding: 0.8em 0;
    }

    nav ul {
        margin: 0.3em 0 0.7em 0;
    }

    nav ul li, footer ul li {
        display: inline-block;
    }

    nav ul li a {
        padding: 0.2em 0.7em;
    }

    nav ul li:last-child, footer ul li:last-child {
        margin-bottom: 0;
    }

    footer {
        margin-bottom: 2em;
    }

    footer ul li {
        margin: 0.3em 0.5em;
    }

}
